/* Pour menu.html */

:root{
    --couleur-croute: #f7e1bd;
    --rouge-sauce: #cc452b;
    --vert-basilic: #529c4a;
    --couleur-fromage: #f4db95;
}

.classiques {
    background-color: var(--couleur-croute);
    padding: 50px 20px;
}

h2 {
    font-size: 2.5em;
    color: var(--rouge-sauce);
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px 1px var(--vert-basilic);
    text-align: center;
}

#classiques_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.classiques_content {
    text-align: center;
    width: 30%;
    padding: 15px;
    background-color: var(--couleur-fromage);
    border-radius: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.classiques_content:hover {
    transform: scale(1.05);
}

.pizza-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

h3 {
    font-family: 'Cursive', sans-serif;
    color: var(--rouge-sauce);
    margin: 10px 0;
    background-color: var(--couleur-fromage);
}

p {
    font-size: 1em;
    color: #333;
    line-height: 1.5em;
    background-color: var(--couleur-fromage);
}

.prix {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--rouge-sauce);
    margin-top: 1rem;
}

/* Affichage tablette */
@media (max-width: 768px) {
    #classiques_container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .classiques_content {
        width: 80%;
    }
}

/* Affichage téléphone */
@media (max-width: 480px) {
    #classiques_container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .classiques_content {
        width: 100%;
        padding: 10px;
    }

    .pizza-img {
        border-radius: 8px;
    }
}