/* A voir si on le met vraiment */
/* Style de la section Horoscope (Responsive automatiaque car utilisation de grid auto)*/
.pizza-horoscope {
    padding: 40px;
    text-align: center;
}

.pizza-horoscope h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--rouge-sauce);
}

.pizza-horoscope p {
    margin-bottom: 30px;
    font-size: 1.1em;
}

/* Grid des signes astrologiques */
.horoscope-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.sign {
    background-color: var(--couleur-fromage);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sign h3 {
    font-size: 1.4em;
    margin-bottom: 8px;
    background-color: var(--couleur-fromage);
}

.sign p {
    color: #333;
    font-size: 1em;
    background-color: var(--couleur-fromage);
    opacity: 0;
}

.sign:hover {
    transform: scale(1.05);
    p {
        animation: fadeIn 0.5s forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.sign:hover h3 {
    animation: changeColor 1s forwards;
}

@keyframes changeColor {
    0% {
        background-color: var(--couleur-fromage);
        border-radius: 8px;
        color: inherit;
    }
    100% {
        background-color: #333333;
        border-radius: 75%;
        color: var(--rouge-sauce);
    }
}
